.cardsContainer {
  --base-rotation: 0deg;
  --full-circle: 360deg;
  --radius: 40vw;
  --duration: 200ms;
  --cards-container-size: calc(var(--radius) * 2);
  --cards-container-padding: 2rem;
  --border-color: transparent;
  --label-offset: calc(var(--radius) * -1 - 1rem);
  --label-size: 30px;
  --label-color: #666;
  --label-color-hover: steelblue;
  --label-line-h: 0;
  --label-line-h-current: 2rem;
  --label-dot-size: 10px;
  --title-top: 1.5rem;
  --title-offset-y: 30px;
  --info-top: 5rem;
  --info-width: min(70%, 500px);
  --info-offset-y: 30px;

  box-sizing: content-box;
  position: fixed;
  inset: 0;
  margin: 5rem auto;
  width: var(--cards-container-size);
  height: var(--cards-container-size);
  padding: var(--cards-container-padding);

  @media (width > 600px) {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }

  @media (min-width: 800px) {
    --radius: 30vw;
    --label-size: 40px;
    --label-dot-size: 15px;
    --label-line-h-current: 4rem;
    --title-top: 4rem;
    --info-top: 8rem;
  }

  @media (min-width: 1200px) {
    --label-size: 50px;
    --border-color: var(--label-color);
  }
}

.cards {
  position: absolute;
  inset: var(--cards-container-padding);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease-in-out var(--duration);
  list-style: none;
}

.cards li {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  transform-origin: center;
  display: grid;
  place-content: center;
  transform: rotate(calc(var(--i) * 360deg / var(--items)));
  pointer-events: none;
}
